!.idea
.idea/*
!.idea/codeStyles
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml

/assets/dist
/node_modules
/resources/_gen
/public
/mix-manifest.json
.hugo_build.lock
yarn-error.log
