<div class="share">

  <span class="share__title">{{ if eq .Section "collection" }}{{ i18n "collection_share" }}{{ else }}{{ i18n "share" }}{{ end }}:</span>

  {{ $share_title := replace .Title "&" "and" }}
  {{ $share_description := replace .Description "&" "and" }}

  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='https://twitter.com/share?url={{ .Permalink }}&text={{ $share_description }}&via=kovah_kvh'
      title='{{ i18n "share_via" "Twitter" }}'>
    {{ partial "icons/twitter.html" }}
  </a>
  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ $share_title }}'
      title='{{ i18n "share_via" "Hackernews" }}'>
    {{ partial "icons/hackernews.html" }}
  </a>
  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ $share_title }}&summary={{ $share_description }}&source={{ "/" | absURL }}'
      title='{{ i18n "share_via" "Email" }}'>
    {{ partial "icons/linkedin.html" }}
  </a>
  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='https://reddit.com/submit?url={{ .Permalink }}&title={{ replace .Title "&" "and" }}'
      title='{{ i18n "share_via" "Reddit" }}'>
    {{ partial "icons/reddit.html" }}
  </a>
  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='mailto:?subject={{ $share_title }}&body={{ $share_description }}'
      title='{{ i18n "share_via" "Email" }}'>
    {{ partial "icons/email.html" }}
  </a>

</div>
