<div class="share">

  <h2 class="mb-4 lg:mb-6 text-xl lg:text-2xl font-bold text-center">
    {{ if eq .Section "collection" }}{{ i18n "collection_share" }}{{ else }}{{ i18n "share" }}{{ end }}
  </h2>

  {{ $share_title := safeHTML (replace .Title "&" "and") }}
  {{ $share_description := safeHTML (replace (print .Title " by Kevin Woblick") "&" "and") }}
  {{ $share_description_x := safeHTML (replace .Title "&" "and") }}
  {{ $share_description_bsky := safeHTML (replace (print .Title " by @kevin.woblick.com " .Permalink) "&" "and") }}
  {{ $link_class := "inline-block text-xl lg:text-3xl text-white hover:scale-150 focus:scale-150 focus:outline-none transition transform transition-transform duration-300" }}

  <div class="flex justify-around">
    <div class="mastodon-share">
      <button type="button" data-share-content="{{ $share_description }} {{ .Permalink }}"
          class="mastodon-button {{ $link_class }}" title='{{ i18n "share_via" "Mastodon" }}'>
        {{ partial "icons/mastodon.html" }}
      </button>
      <dialog class="p-4 lg:p-6 rounded-lg drop-shadow-2xl">
        <form method="dialog">
          <label class="block" for="mastodon-instance">Enter your Instance to share this article:</label>
          <input class="input my-3" type="text" name="instance" id="mastodon-instance" placeholder="mastodon.social"
              required>
          <button class="button button-dark mr-3" type="submit">Save</button>
          <button value="cancel" formmethod="dialog">Cancel</button>
        </form>
      </dialog>
    </div>
    <a class="{{ $link_class }}" target="_blank" rel="noopener noreferrer"
        href="https://bsky.app/intent/compose?text={{ $share_description_bsky }}"
        title='{{ i18n "share_via" "Bluesky" }}'>
      {{ partial "icons/bluesky.html" }}
    </a>
    <a class="{{ $link_class }}" target="_blank" rel="noopener noreferrer"
        href="https://x.com/share?url={{ .Permalink }}&text={{ $share_description_x }}&via=kevinwoblick"
        title='{{ i18n "share_via" "X" }}'>
      {{ partial "icons/twitter.html" }}
    </a>
    <a class="{{ $link_class }}" target="_blank" rel="noopener noreferrer"
        href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ $share_title }}"
        title='{{ i18n "share_via" "Hackernews" }}'>
      {{ partial "icons/hackernews.html" }}
    </a>
    <a class="{{ $link_class }}" target="_blank" rel="noopener noreferrer"
        href='https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ $share_title }}&summary={{ $share_description }}&source={{ "/" | absURL }}'
        title='{{ i18n "share_via" "LinkedIn" }}'>
      {{ partial "icons/linkedin.html" }}
    </a>
    <a class="{{ $link_class }}" target="_blank" rel="noopener noreferrer"
        href='https://reddit.com/submit?url={{ .Permalink }}&title={{ $share_title }}'
        title='{{ i18n "share_via" "Reddit" }}'>
      {{ partial "icons/reddit.html" }}
    </a>
    <a class="{{ $link_class }}" target="_blank" rel="noopener noreferrer"
        href="mailto:?subject={{ $share_title }}&body={{ $share_description }}"
        title='{{ i18n "share_via" "Email" }}'>
      {{ partial "icons/email.html" }}
    </a>
  </div>

</div>
