{{ with .Params.Thumbnail }}
  {{ $img := $.Page.Resources.GetMatch . }}

  {{ $prefix := "" }}
  {{ if ne $.Site.IsServer true }}
  {{ $prefix = $.Site.Params.imgCDNUrl }}
  {{ end }}

  <div class="mb-8 md:mb-10 lg:mb-16">
    <picture>
      <source type="image/jpeg" srcset="{{ $prefix }}{{ $img.RelPermalink }}?w=768&org_if_sml=1 768w, {{ $prefix }}{{ $img.RelPermalink }}?w=1024&org_if_sml=1 1024w" sizes="(max-width: 768px),(max-width: 1024px)">
      {{ if ne $.Site.IsServer true }}
      <source type="image/webp" srcset="{{ $prefix }}{{ $img.RelPermalink }}?w=768&org_if_sml=1&force_format=webp 768w, {{ $prefix }}{{ $img.RelPermalink }}?w=1024&org_if_sml=1&force_format=webp 1024w" sizes="(max-width: 768px),(max-width: 1024px)">
      {{ end }}
      <img src='{{ $prefix }}{{ $img.RelPermalink }}?w=1280&org_if_sml=1' alt="{{ $.Params.Title }}" itemprop="image"
          width="{{ $img.Width }}" height="{{ $img.Height }}" class="rounded"/>
    </picture>
  </div>
{{ end }}
