<div class="webmentions" data-entry-url='{{ $.Site.Params.webmentionUrl }}{{ .Permalink | relURL }}'>
  <p class="webmentions__hint">{{ i18n "webmentions_hint" }}</p>
  <div class="webmentions__details">
    <div class="webmentions__count">
      <span class='webmentions__mention-count'>0</span> {{ i18n "webmentions_mentions" }}
    </div>
    <div class="webmentions__count">
      <span class='webmentions__repost-count'>0</span> {{ i18n "webmentions_reposts" }}
    </div>
    <div class="webmentions__count">
      <span class='webmentions__like-count'>0</span> {{ i18n "webmentions_likes" }}
    </div>
  </div>
</div>
