{{ define "main" }}
{{ $badge_class := "p-1 rounded bg-gray-100 hover:text-gray-800 focus:text-gray-800 focus:outline-none focus:ring-1 ring-blue-500/25 transition" }}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="keywords" content='{{ .Render "post-metakeywords" }}'/>
  <meta itemprop="description" content="{{ .Description }}"/>
  <meta itemprop="author" content='{{ .Param "author" }}'/>
  <meta itemprop="publisher" content="{{ $.Site.Params.Publisher }}"/>

  <span class="hidden u-url">{{ .Permalink | absURL }}</span>
  <span class="hidden p-summary">{{ .Description }}</span>
  <span class="hidden p-author h-card">
    <a class="p-name u-url" href="https://kovah.de/">{{ $.Site.Params.Publisher }}</a>
  </span>

  <header class="container">
    <div class="max-w-prose lg:max-w-full mx-auto">

      {{ partial "post/thumbnail.html" . }}

      <h1 class="font-bold text-4xl md:text-5xl lg:text-6xl leading-tight md:leading-tight lg:leading-tight md:text-center p-name" itemprop="headline">{{ .Title }}</h1>

      <div class="mt-8 lg:mt-12 sm:flex md:justify-center text-gray-500">
        <div class="flex">
          {{ range .Params.Categories }}
          <div class="mr-1">{{ i18n "category" . }}:</div>
          <div>
            <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="{{ $badge_class }}">
             {{- . -}}
            </a>
          </div>
          {{ end }}
        </div>

        <div class="flex mt-4 sm:mt-0 sm:ml-6 lg:ml-8">
          {{ $list := .Params.Tags }}
          {{ $len := (len $list) }}
          {{ if gt $len 0 }}
            <div class="mr-1">{{ i18n "tags" . }}:</div>
            <div class="space-x-2">
              {{ range $index, $element := $list }}
              <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="{{ $badge_class }}">
                {{- $element -}}
              </a>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>

      <div class="mt-4 text-gray-500 md:text-center">
        <span class="mr-4 lg:mr-6">{{ i18n "readtime" . }}</span>
        <time class="dt-published" datetime='{{.Date.Format "2006-01-02"}}' itemprop="datePublished">
          {{ i18n "published" }}: {{.Date.Format "2006-01-02"}}
        </time>
        {{ with .Lastmod }}
        <time class="ml-2 dt-updated" datetime='{{.Format "2006-01-02"}}' itemprop="dateModified">
          {{ i18n "updated" }}: {{.Format "2006-01-02"}}
        </time>
        {{ end }}
      </div>

    </div>
  </header>

  <section class="container mt-12 lg:mt-16">

    <div class="prose prose-blue prose-lg lg:prose-xl mx-auto e-content" itemprop="articleBody">
      {{ partial "post/translation-info.html" . }}
      {{ .Content }}
    </div>

  </section>

</article>

<section class="bg-blue-500 text-white mt-16 md:mt-20 lg:mt-24">
  <div class="container py-16 md:py-20 lg:py-24">

    {{ partial "post/sharing.html" . }}

    {{ partial "post/webmentions.html" . }}

  </div>
</section>

{{ end }}
