{{ define "main" }}
{{ $badge_class := "p-1 rounded-sm bg-gray-100 hover:text-gray-800 focus:text-gray-800 focus:outline-hidden focus:ring-1 ring-blue-500/25 transition" }}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="keywords" content='{{ .Render "post-metakeywords" }}'/>
  <meta itemprop="description" content="{{ .Description }}"/>
  <meta itemprop="author" content='{{ .Param "author" }}'/>
  <meta itemprop="publisher" content="{{ $.Site.Params.Publisher }}"/>

  <span class="hidden u-url">{{ .Permalink | absURL }}</span>
  <span class="hidden p-summary">{{ .Description }}</span>
  <span class="hidden p-author h-card">
    <a class="p-name u-url" href="https://woblick.dev/">{{ $.Site.Params.Publisher }}</a>
  </span>

  <header class="container">
    <div class="max-w-prose lg:max-w-full mx-auto">

      {{ partial "post/thumbnail.html" . }}

      <h2 class="font-bold text-4xl md:text-5xl lg:text-6xl leading-tight md:leading-tight lg:leading-tight md:text-center p-name" itemprop="headline">{{ .Title }}</h2>

      <div class="mt-4 text-gray-500 md:text-center">
        <span class="mr-4 lg:mr-6">{{ i18n "readtime" . }}</span>
        <span>{{ i18n "published" }}:</span>
        <time class="format-date dt-published" datetime='{{.Date.Format "2006-01-02"}}' itemprop="datePublished">
          {{.Date.Format "2006-01-02"}}
        </time>
        {{ with .Lastmod }}
        <span class="ml-2">{{ i18n "updated" }}:</span>
        <time class="format-date dt-updated" datetime='{{.Format "2006-01-02"}}' itemprop="dateModified">
          {{.Format "2006-01-02"}}
        </time>
        {{ end }}
      </div>

    </div>
  </header>

  <section class="container mt-12 lg:mt-16">

    <div class="prose prose-blue prose-lg lg:prose-xl mx-auto e-content" itemprop="articleBody">
      {{ partial "post/translation-info.html" . }}
      {{ .Content }}
    </div>

  </section>

</article>

<section class="aurora-bg text-white mt-16 md:mt-20 lg:mt-24">
  <div class="container py-16 md:py-20 lg:py-24">

    {{ partial "post/sharing.html" . }}

    {{ partial "post/webmentions.html" . }}

  </div>
</section>

{{ end }}
