.e404 {
  text-align: center;

  &__image {
    margin: $spacer;
  }

  &__title {
    color: $c-red-dark;
    margin-bottom: $spacer-sm;
  }

  &__copy {
    color: $c-red-dark;
    font-size: $font-size-lg;
    opacity: .65;
  }
}
