.card {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: $screen-bp) {
    margin: $spacer-lg auto;
  }

  .logo {
    display: block;
    max-width: 80%;
    margin: 0 auto;

    @media screen and (min-width: $screen-bp-sm) {
      max-width: 350px;
      margin: 0 auto;
    }

    svg {
      max-width: 100%;
      height: auto;
    }
  }
}
