@font-face {
  font-family: 'Nexa';
  src: local('Nexa XBold'), local('Nexa-XBold'),
  url('fonts/Nexa-XBold.woff2') format('woff2'),
  url('fonts/Nexa-XBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
