.icons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .divider {
    flex: 1 0 100%;
    display: none;

    @media screen and (min-width: $screen-bp-sm) {
      display: block;
    }
  }

  &__icon {
    position: relative;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 5rem;
    min-height: 5rem;
    padding: $spacer-sm;
    color: $gray-lightest;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 2.25rem;
    line-height: 1;
    transition: font-size 200ms ease;

    @media screen and (min-width: $screen-bp) {
      font-size: 2.5rem;
      min-width: 5.5rem;
      min-height: 5.5rem;
    }

    &:hover,
    &:focus,
    &:active {
      font-size: 3rem;
      transition: font-size 300ms ease;

      @media screen and (min-width: $screen-bp) {
        font-size: 3.25rem;
      }
    }

    &--wide {
      width: auto;
    }

    [data-fa-i2svg],
    .text {
      z-index: 10;
      position: relative;
    }

    .text {
      font-size: $font-size-xl;
    }
  }
}
