.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-spacing;

  @media screen and (min-width: $screen-bp) {
    max-width: $screen-bp;
  }
}

.block {
  padding: $spacer-lg 0;

  @media screen and (min-width: $screen-bp) {
    padding: $spacer-xl 0;
  }

  &--primary {

    background: $c-primary;
    color: $body-color-white;

    & + & {
      padding-top: 0;
    }
  }

  &--small {

    padding: $spacer-md 0;

    @media screen and (min-width: $screen-bp) {
      padding: $spacer-lg 0;
    }
  }

  &:not(.block--primary) {

    & + & {
      padding-top: 0;
    }
  }
}

.footer {
  color: $body-color-light;

  p {
    margin-bottom: $spacer-sm;
  }

  a {
    color: $body-color-muted;

    &:active,
    &:hover,
    &:focus {
      color: $body-color;
    }
  }
}
