.container {
  width: 100%;
  padding: 0 $spacer;

  @media screen and (min-width: $screen-bp) {
    max-width: $screen-bp;
    margin: 0 auto;
    padding: 0 $spacer-lg;
  }
}

.block {

  padding: $spacer-lg 0;

  @media screen and (min-width: $screen-bp) {
    padding: $spacer-xl 0;
  }

  &--primary {

    background: $c-primary;
    color: $gray-100;

    & + & {

      padding-top: 0;
    }
  }

  &--small {

    padding: $spacer-md 0;

    @media screen and (min-width: $screen-bp) {
      padding: $spacer-lg 0;
    }
  }
}

.footer {
  color: rgba($body-color-light, .5);

  a {
    color: rgba($body-color-light, .75);

    &:active,
    &:hover,
    &:focus {
      color: rgba($body-color-light, 1);
    }
  }
}
