.post {

  &__header {

  }

  &__title {
    margin-bottom: $spacer;
  }

  &__meta {
    margin-top: $spacer-sm;
    color: rgba($body-color-light, .5);

    a {
      color: rgba($body-color-light, .75);

      &:active,
      &:hover,
      &:focus {
        color: rgba($body-color-light, 1);
      }
    }
  }

  &__category {
    margin-right: $spacer-sm;
  }

  &__tags {
    margin-right: $spacer-sm;
  }

  &__readtime {
    margin-right: $spacer-sm;
  }

  &__content {

    @media screen and (min-width: $screen-bp) {
      padding: 0 $spacer-lg;
    }

    .full-width {

      @media screen and (min-width: $screen-bp) {
        max-width: none;
        margin: 0 -#{$spacer-lg};
      }
    }

    h1, h2, h3, h4, h5 {
      margin-bottom: $spacer;
    }

    p, pre, .table-wrapper,
    ol, ul, figure, .alert {
      margin-bottom: $spacer-md;

      & + h1, & + h2, & + h3, & + h4, & + h5{
        margin-top: $spacer-lg;
      }
    }

    figure {
      margin-left: 0;
      margin-right: 0;

      &.figure--left {

        @media screen and (min-width: $screen-bp-sm) {
          float: left;
          max-width: 50%;
          margin-right: $spacer;
        }
      }

      &.figure--right {

        @media screen and (min-width: $screen-bp-sm) {
          float: right;
          max-width: 50%;
          margin-left: $spacer;
        }
      }

      figcaption {
        text-align: center;
        margin: $spacer-sm 0 0;
        color: $body-color-muted;
        font-size: $font-size-sm;
      }
    }

    pre {
      padding: $spacer-sm;
      font-size: $font-size-sm;
      line-height: 1.7;

      @media screen and (min-width: $screen-bp) {
        padding: $spacer;
      }
    }

    hr {
      margin: $spacer-lg $spacer;
      border: 0;
      background-color: $body-color-light;
      height: 2px;

      @media screen and (min-width: $screen-bp) {
        margin: $spacer-lg;
      }
    }
  }

  //a {
  //  position: relative;
  //  display: inline-block;
  //
  //  &:after {
  //    content: '';
  //    position: absolute;
  //    bottom: 5%;
  //    left: 0;
  //    width: 0;
  //    height: 1px;
  //    background-color: currentColor;
  //    transition: width 200ms;
  //  }
  //
  //  &:active,
  //  &:hover,
  //  &:focus {
  //
  //    &:after {
  //      width: 100%;
  //    }
  //  }
  //}
}
