.post {

  &__header {
    margin-bottom: $spacer-md;

    @media screen and (min-width: $screen-bp) {
      margin-bottom: $spacer-lg;
    }
  }

  &__thumbnail {
    margin-bottom: $spacer;

    @media screen and (min-width: $screen-bp) {
      margin-bottom: $spacer-lg;
    }
  }

  &__title {
    margin-bottom: $spacer;
  }

  &__meta {
    margin-top: $spacer-sm;
    color: $body-color-muted;

    a {
      color: $c-primary-light;

      &:active,
      &:hover,
      &:focus {
        color: $c-primary;
      }
    }
  }

  &__category {
    margin-right: $spacer-sm;
  }

  &__tags {
    margin-right: $spacer-sm;
  }

  &__readtime {
    margin-right: $spacer-sm;
  }

  &__inner {

    @media screen and (min-width: $screen-bp-sm) {
      padding: 0 $spacer-md;
    }

    @media screen and (min-width: $screen-bp) {
      padding: 0 $spacer-lg;
    }
  }

  &__content-wrapper {
    padding-bottom: $spacer-md;

    @media screen and (min-width: $screen-bp) {
      padding-bottom: $spacer-lg;
    }
  }

  &__content {
    font-size: $font-size-md;

    .full-width {

      @media screen and (min-width: $screen-bp-sm) {
        max-width: none;
        margin: 0 -#{$spacer-md};
      }

      @media screen and (min-width: $screen-bp) {
        max-width: none;
        margin: 0 -#{$spacer-lg};
      }
    }

    figure {
      margin: 0;
    }

    blockquote {
      margin: 0;
      padding: $spacer;
      background-color: lighten($c-primary-light, 34%);
      font-style: italic;

      p:last-child {
        margin-bottom: 0;
      }
    }

    h1, h2, h3, h4, h5 {
      margin-bottom: $spacer-sm;
    }

    p, pre, .table__wrapper,
    ol, ul, figure, blockquote,
    .reviewbox, .alert {
      margin-bottom: $spacer;

      & + h1, & + h2, & + h3, & + h4, & + h5{
        margin-top: $spacer-md;
      }
    }

    figure {
      margin-left: 0;
      margin-right: 0;
      text-align: center;

      &.figure--left {

        @media screen and (min-width: $screen-bp-sm) {
          float: left;
          max-width: 40%;
          margin-right: $spacer;
        }

        @media screen and (min-width: $screen-bp) {
          margin-right: $spacer-md;
        }
      }

      &.figure--right {

        @media screen and (min-width: $screen-bp-sm) {
          float: right;
          max-width: 40%;
          margin-left: $spacer;
        }

        @media screen and (min-width: $screen-bp) {
          margin-left: $spacer-md;
        }
      }

      figcaption {
        margin: $spacer-sm 0 0;
        color: $body-color-muted;
        font-size: $font-size-sm;
      }
    }

    pre {
      padding: $spacer-sm;
      font-size: $font-size-sm;
      line-height: 1.7;

      @media screen and (min-width: $screen-bp) {
        padding: $spacer;
      }
    }

    :not(pre) > code {
      padding: 2px 3px;
      background-color: $gray-200;
      font-size: 85%;
    }

    hr {
      margin: $spacer-md $spacer;
      border: 0;
      background-color: $body-color-light;
      height: 2px;

      @media screen and (min-width: $screen-bp) {
        margin: $spacer-lg;
      }
    }
  }
}
