.post-list {

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {

    & + & {
      margin-top: $spacer-md;

      @media screen and (min-width: $screen-bp-sm) {
        margin-top: $spacer-lg;
      }
    }


  }
}

.post-excerpt {

  &__headline {
    font-size: $font-size-h4;

    @media screen and (min-width: $screen-bp) {
      font-size: $font-size-h3;
    }
  }

  &__description {
    margin-top: $spacer-sm;

    @media screen and (min-width: $screen-bp) {
      margin-top: $spacer;
    }
  }

  &__meta {
    font-size: $font-size-sm;
    color: $body-color-muted;
    margin-top: $spacer-sm;

    @media screen and (min-width: $screen-bp) {
      margin-top: $spacer;
    }
  }

  &__category {
    margin-right: $spacer-sm;
  }

  &__readtime {
    margin-right: $spacer-sm;
  }
}
