
th {
  text-align: inherit;
}

table {
  border-collapse: collapse;
  font-size: $font-size-base;
  width: 100%;
  max-width: 100%;

  th,
  td {
    padding: $table-spacing;
    vertical-align: top;
    border-bottom: 1px solid $table-border;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * 1px) solid $table-border;
  }

  tbody + tbody {
    border-top: (2 * 1px) solid $table-border;
  }

  .table {
    background-color: #fff;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * 1px);
    }
  }
}

.table__wrapper {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}
