a {
  color: $c-primary;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

  .block--primary & {
    color: $link-blue-color;

    &:active,
    &:hover,
    &:focus {
      color: $link-blue-hover-color;
    }
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-special;
  font-weight: 700;
  line-height: $line-height-headings;
  letter-spacing: -.5px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}
