// Colors
$c-primary: #2c8edd;
$c-primary-light: lighten($c-primary, 10%);
$c-primary-dark: darken($c-primary, 10%);

// Create grayscale
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$body-color: $gray-800;
$body-color-muted: $gray-500;
$body-color-light: $gray-200;

$link-color: $c-primary;
$link-decoration: none;
$link-hover-color: $c-primary-dark;
$link-hover-decoration: none;

$link-blue-color: $gray-200;
$link-blue-hover-color: $white;

// Spacing
$spacer-xs: .5rem;
$spacer-sm: .75rem;
$spacer: 1.5rem;
$spacer-md: 2.5rem;
$spacer-lg: 4rem;
$spacer-xl: 8rem;

$table-spacing-x: $spacer;
$table-spacing-y: $spacer-sm;
$table-spacing: $table-spacing-y $table-spacing-x;
$table-border: darken($gray-200, 5%);

$nav-spacing-x: $spacer-sm;
$nav-spacing-y: $spacer-sm;
$nav-spacing: $nav-spacing-y $nav-spacing-x;

$pagination-spacing-x: $spacer;
$pagination-spacing-y: $spacer-sm;
$pagination-spacing: $pagination-spacing-y $pagination-spacing-x;

// Breakpoints & Container
$screen-bp-sm: 500px;
$screen-bp: 960px;

$container-spacing-sm: $spacer-sm;
$container-spacing: $spacer;

// Fonts & Typo
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$line-height: 1.5;
$line-height-headings: 1.3;

$font-size-base: 1rem;
$font-size-xl: 1.5rem;
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2.2rem;
$font-size-h3: 1.9rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.3rem;
$font-size-h6: 1rem;
