// Colors
$c-primary: #0687F9;
$c-primary-light: #6AB7FB;
$c-primary-dark: #045195;

$c-red: #e53935;
$c-red-dark: darken($c-red, 10%);
$c-orange: #FF9106;
$c-yellow: #FDD835;
$c-green: #4BB952;

// Create grayscale
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$body-color: $gray-800;
$body-color-muted: $gray-600;
$body-color-light: $gray-400;
$body-color-white: $white;

$link-color: $c-primary;
$link-hover-color: $c-primary-dark;

$link-light-color: $white;
$link-light-hover-color: $white;

// Spacing
$spacer: 1.5rem;
$spacer-xs: $spacer * .6;
$spacer-sm: $spacer * .8;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer * 3;
$spacer-xl: $spacer * 4;

$table-spacing-x: $spacer;
$table-spacing-y: $spacer-sm;
$table-spacing: $table-spacing-y $table-spacing-x;
$table-border: darken($gray-200, 5%);

$nav-spacing-x: $spacer-xs;
$nav-spacing-y: $spacer-sm;
$nav-spacing: $nav-spacing-y $nav-spacing-x;
$nav-spacing-sm: $nav-spacing-y $nav-spacing-x 0;

$pagination-spacing-x: $spacer;
$pagination-spacing-y: $spacer-sm;
$pagination-spacing: $pagination-spacing-y $pagination-spacing-x;

// Breakpoints & Container
$screen-bp-sm: 500px;
$screen-bp: 960px;

$container-spacing-sm: $spacer-sm;
$container-spacing: $spacer;

// Fonts & Typo
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-special: "Nexa", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$line-height: 1.6;
$line-height-headings: 1.2;

$font-size-base: 1rem;
$font-size-xl: 1.5rem;
$font-size-md: 1.15rem;
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;

$font-size-h1: 2.6rem;
$font-size-h2: 2.2rem;
$font-size-h3: 1.9rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.2rem;

// Alerts
$alert-types: (
  "info": $c-primary,
  "success": $c-green,
  "warning": $c-orange,
  "danger": $c-red,
);
$alert-default-bg: $gray-100;
$alert-default-border: $gray-300;

// Various elements
$code-bg: $gray-200;
$code-padding: 0.125rem 0.187rem;
$code-border-radius: 0.25rem;

$tag-hover-bg: $gray-100;
$tag-border-radius: .375rem;
$tag-padding: 0 .25rem;

$reviewbox-bg: $gray-100;
$reviewbox-star-color: $c-yellow;
