.webmentions {
  margin-top: $spacer-lg;
  text-align: center;
  color: $body-color-white;

  &__hint {
    margin-bottom: $spacer;

    @media screen and (min-width: $screen-bp-sm) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: $spacer;
    }
  }

  &__details {
    display: inline-block;
  }

  &__count {
    display: inline-block;

    & + & {
      margin-left: $spacer;
    }
  }
}
