.webmentions {
  text-align: center;
  color: $body-color-muted;

  &__hint {
    margin-bottom: $spacer;
    font-size: $font-size-lg;
  }

  &__count {
    display: inline-block;

    & + & {
      margin-left: $spacer;
    }
  }
}
