/*!
 * Kovah.de CSS Styles
 * All Rights Reserved
 */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Figtree';
    src: local('Figtree Regular'), local('Figtree-Regular'),
    url('../fonts/Figtree-Regular.woff2') format('woff2'),
    url('../fonts/Figtree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Figtree';
    src: local('Figtree Bold'), local('Figtree-Bold'),
    url('../fonts/Figtree-Bold.woff2') format('woff2'),
    url('../fonts/Figtree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Figtree';
    src:
      local('Figtree'),
      url('/assets/fonts/Figtree-variable.woff2') format('woff2-variations'),
      url('/assets/fonts/Figtree-variable.woff2') format('woff2 supports variations'),
      url('/assets/fonts/Figtree-variable.woff') format('woff-variations'),
      url('/assets/fonts/Figtree-variable.woff') format('woff supports variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.container {
  @apply max-w-4xl mx-auto px-5;
}

@screen md {
  .container {
    @apply px-6;
  }
}

.icon {
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.icon path {
  fill: currentColor;
}

.aurora-bg {
  @apply bg-gradient-to-br from-blue-300 to-blue-500;
}

.prose figure img {
  @apply max-w-full m-0 border border-gray-100;
}

.prose :not(pre) code {
  @apply py-0.5 px-1 rounded bg-gray-100;
}

.prose code::before,
.prose code::after {
  content: "";
}

.button {
  @apply inline-flex items-center leading-none w-min p-2 pt-2.5 rounded lg:text-lg lg:leading-none font-bold text-white bg-white/5 hover:bg-white/10 focus:bg-white/20 focus:outline-none transition;
}

.button-dark {
  @apply bg-blue-500 hover:bg-blue-400 focus:bg-blue-400 focus:outline-none transition;
}

.button-light {
  @apply bg-white/0 hover:bg-white/10 focus:bg-white/20 text-white/80 hover:text-white focus:text-white;
}

.input {
  @apply block w-full bg-gray-100 border border-gray-300 text-gray-700 py-1.5 px-3 leading-tight rounded focus:outline-none focus:bg-white focus:border-gray-500;
}

.alert-info {
  @apply bg-blue-100 text-blue-800;
}

.alert-warning {
  @apply bg-yellow-100 text-yellow-800;
}

.alert-danger {
  @apply bg-red-100 text-red-800;
}

.figure-left {
  @apply float-left mr-4;
  max-width: 60%;
}

.figure-right {
  @apply float-right ml-4;
  max-width: 60%;
}

.figure-center {
  margin: 0 auto;
  max-width: 80%;
}

.prose .figure-center img {
  margin: 0 auto;
}

@screen lg {
  .figure-left {
    @apply mr-6;
    max-width: 50%;
  }

  .figure-right {
    @apply ml-6;
    max-width: 50%;
  }
}

@screen lg {
  .figure-left {
    max-width: 40%;
  }

  .figure-right {
    max-width: 40%;
  }
}
