<footer class="py-32 text-center text-sm text-white bg-blue-500">
  <div class="container">

    <div class="">
      <a href="https://kovah.de/info/impress" class="mr-6 font-bold hover:underline focus:underline transition">{{ site[locale]._t.legal_notice }}</a>
      <a href="https://kovah.de/info/privacy" class="font-bold hover:underline focus:underline transition">{{ site[locale]._t.privacy_policy }}</a>
    </div>

    <div class="mt-8">
      All content is licensed as <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="font-bold hover:underline focus:underline transition">CC BY-NC-ND 4.0</a> if not stated otherwise.
    </div>

  </div>
</footer>
