---
layout: layout/base.njk
---
<article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="keywords" content='{{ tags }}'/>
  <meta itemprop="description" content="{{ description }}"/>
  <meta itemprop="author" content='{{ author }}'/>
  <meta itemprop="publisher" content="{{ site.author }}"/>

  <span class="hidden u-url" aria-hidden="true"></span>
  <span class="hidden p-summary" aria-hidden="true">{{ description }}</span>
  <span class="hidden p-author h-card" aria-hidden="true">
    <a class="p-name u-url" href="https://kovah.de/">{{ site.author }}</a>
  </span>

  <header class="max-w-4xl mx-auto">
    <h2 class="text-2xl lg:text-4xl font-bold font-special mt-8 lg:mt-12 md:text-center p-name"
      itemprop="headline">{{ title }}</h2>

    <div class="mt-4 lg:mt-8 mb-8 lg:mb-12 text-center text-gray-700">
      <time datetime='{{ date | formatDate("yyyy-LL-dd HH:mm:ss.u", locale) }}' itemprop="datePublished">
        {{ site[locale]._t.published_on | replace(":date", date | formatDate("D", locale)) }}
      </time>
    </div>
  </header>

  <section class="prose prose-blue lg:prose-lg mx-auto e-content" itemprop="articleBody">
    {{ content | safe }}
  </section>

  <section class="mt-8 lg:mt-12 py-8 lg:py-12 bg-blue-500 text-white">
    <div class="max-w-4xl mx-auto">

      <h3 class="mb-3 lg:mb-6 text-center text-xl font-special font-bold">
        {% if edition %}
          {{ site[locale]._t.share_collection }}
        {% else %}
          {{ site[locale]._t.share_article }}
        {% endif %}
      </h3>

      <div class="grid gap-8 grid-cols-5 text-center text-xl lg:text-2xl">
        <a class="transform hover:scale-150 focus:scale-150 transition-transform duration-300"
          target="_blank" rel="noopener noreferrer"
          href="https://twitter.com/share?url={{ page | permalink }}&text={{ title | replace('&', site[locale]._t.and) }}&via=kovah_kvh"
          title="{{ site[locale]._t.share_via_twitter }}">
          {% include '../icons/twitter.svg' %}
        </a>
        <a class="transform hover:scale-150 focus:scale-150 transition-transform duration-300"
          target="_blank" rel="noopener noreferrer"
          href="https://news.ycombinator.com/submitlink?u={{ page | permalink }}&t={{ title | replace('&', site[locale]._t.and) }}"
          title="{{ site[locale]._t.share_via_hn }}">
          {% include '../icons/hacker-news.svg' %}
        </a>
        <a class="transform hover:scale-150 focus:scale-150 transition-transform duration-300"
          target="_blank" rel="noopener noreferrer"
          href="https://www.linkedin.com/shareArticle?url={{ page | permalink }}&title={{ title | replace('&', site[locale]._t.and) }}&summary=&source={{ page | permalink }}"
          title="{{ site[locale]._t.share_via_linkedin }}">
          {% include '../icons/linkedin.svg' %}
        </a>
        <a class="transform hover:scale-150 focus:scale-150 transition-transform duration-300"
          target="_blank" rel="noopener noreferrer"
          href="https://reddit.com/submit?url={{ page | permalink }}&title={{ title }}"
          title="{{ site[locale]._t.share_via_reddit }}">
          {% include '../icons/reddit.svg' %}
        </a>
        <a class="transform hover:scale-150 focus:scale-150 transition-transform duration-300"
          target="_blank" rel="noopener noreferrer"
          href="mailto:?subject={{ title }}&body={{ description }} {{ page | permalink }}"
          title="{{ site[locale]._t.share_via_email }}">
          {% include '../icons/email.svg' %}
        </a>
      </div>

      <div class="mt-10 lg:mt-16 webmentions" data-entry-url="{{ page | permalink }}">

        <h3 class="mb-3 lg:mb-6 text-center text-xl font-special font-bold">
          {{ site[locale]._t.webmention_hint }}
        </h3>

        <div class="grid grid-cols-3 gap-8 text-center">
          <div>
            <span class="mention-count">0</span> {{ site[locale]._t.webmention_mentions }}
          </div>
          <div>
            <span class="repost-count">0</span> {{ site[locale]._t.webmention_reposts }}
          </div>
          <div>
            <span class="like-count">0</span> {{ site[locale]._t.webmentions_likes }}
          </div>
        </div>

      </div>

    </div>
  </section>
</article>
