<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="0; url={{ '/'+site.defaultLang+'/' | url  }}" />
</head>
<body>
Redirecting you to {{ '/'+site.defaultLang+'/' | url  }}. If the redirect does not work, please <a href="{{ '/'+site.defaultLang+'/' | url  }}">continue here</a>.
</body>
</html>
