<footer class="footer block block--small text--center">
  <div class="container">

      <p>
        <small>
          <em>Taikonauten / Laravel / PHP / HTML / CSS / JS / Docker</em>
        </small>
      </p>

      <p>
        <small>
          PGP Fingerprint: <code>ADCC 4A6E D3FF 4EF6 D43A F1D1 AAAA 031B A983 0D7B</code>
        </small>
      </p>

      &copy; {{ now.Format "2006" }} Kovah.de | <a href="https://kovah.de/info/impress">Impress</a> | <a
        href="https://kovah.de/info/privacy">Privacy</a>

  </div>
</footer>

{{ with .Params.hascode }}
  {{ if . }}
  {{ $highlightjs := resources.Get "highlighter.js" | fingerprint }}
  <script src="{{ $highlightjs.Permalink | relURL }}"></script>
  {{ end }}
{{ end }}

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, '//stats.kovah.de/tracker.js', 'fathom');
  fathom('set', 'siteId', 'JHALA');
  fathom('trackPageview');
</script>
<!-- / Fathom -->
