{{ $secondary_link_class := "p-2 rounded text-sm lg:text-base lg:leading-none font-special font-bold text-white hover:bg-white/10 focus:bg-white/10 focus:outline-none transition" }}
<div class="bg-blue-500 text-white">
  <div class="container pt-10 md:pt-12 lg:pt-16 pb-8 md:pb-10 lg:pb-12 mb-10 md:mb-14 lg:mb-16">

    <div class="grid grid-cols-2 gap-4">

      <a href='{{ "/" | relLangURL }}' class="w-min focus:outline-none focus:scale-110 transition">
        {{ partial "logo.html" . }}
      </a>

      <div class="flex items-center justify-end -mr-2">
        {{ with .OutputFormats.Get "rss" -}}
        <a class="{{ $secondary_link_class }}"
            href="{{ .Permalink | relURL }}" title="Feed">
          {{ partial "icons/rss.html" }}
        </a>
        {{ else }}
        {{ with $.Site.Home.OutputFormats.Get "rss" -}}
        <a class="{{ $secondary_link_class }}"
            href="{{ .Permalink | relURL }}" title="Feed">
          {{ partial "icons/rss.html" }}
        </a>
        {{ end -}}
        {{ end -}}

        {{ range .Translations }}
        <a class="ml-6 {{ $secondary_link_class }}"
            href="{{ .Permalink | relURL }}" title="{{ .Language.LanguageName }}">
          {{ .Language.LanguageName }}
        </a>
        {{ else }}
        {{ $currentLang := .Language.Lang }}
        {{ range $.Site.Home.AllTranslations }}
        {{ if eq $currentLang .Lang }}
        {{ else }}
        <a class="ml-6 pt-2.5 {{ $secondary_link_class }}"
            href="{{ .Permalink | relURL }}" title="{{ .Language.LanguageName }}">
          {{ .Language.LanguageName }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>

    </div>

    <div class="mt-10 md:mt-12 lg:mt-26 -mx-2 grid grid-cols-2 gap-x-2 lg:gap-x-4 md:flex items-center">

      {{ range .Site.Menus.main -}}
      <a class="inline-block leading-none w-min p-2 pt-2.5 rounded lg:text-lg lg:leading-none font-special font-bold text-white hover:bg-white/10 focus:bg-white/10 focus:outline-none transition"
          href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      {{- end }}

    </div>
  </div>
</div>
