<link rel="preconnect" href="//{{ .Site.Params.imgCDNDomain }}">
<link rel="preconnect" href="//webmention.io">
<link rel="preconnect" href="//analytics.kovah.de">
<link rel="preload" as="font" type="font/woff2" href="{{ $.Site.BaseURL }}assets/fonts/subset-Nexa-XBold.woff2">
<link rel="preload" as="font" type="font/woff2" href="{{ $.Site.BaseURL }}assets/fonts/subset-NexaBlack.woff2">

{{ if .IsPage }}
<title>{{ .Render "post-meta-title" }} - {{ i18n "site_title" }}</title>
{{ else }}
<title>{{ i18n "site_title" }}</title>
{{ end }}

{{ if .IsPage }}
<meta name="description" content='{{ .Render "post-meta-description" }}'/>
{{ else }}
<meta name="description" content='{{ i18n "site_description" }}'/>
{{ end }}

{{ if .IsPage }}
<meta property="og:title" content='{{ .Render "post-meta-title" }}'>
<meta property="og:description" content='{{ .Render "post-metadescription" }}'>
{{ else }}
<meta property="og:title" content='{{ i18n "site_title" }}'>
<meta property="og:description" content='{{ i18n "site_description" }}'>
{{ end }}
<meta property="og:image" content='{{ "/assets/social-2021.jpg" | absURL }}'>
<meta property="og:url" content='{{ .Permalink }}'/>
<meta property="og:site_name" content='{{ i18n "site_title" }}'/>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@kovah_kvh">
<meta name="twitter:creator" content="@kovah_kvh">
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:image" content='{{ "/assets/social-2021.jpg" | absURL }}'>
{{ if .IsPage }}
<meta property="twitter:description" content='{{ .Render "post-meta-description" }}'>
{{ else }}
<meta property="twitter:description" content='{{ i18n "site_description" }}'>
{{ end }}

{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ range .Translations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink | relLangURL }}">
{{ end }}

<link href="https://github.com/kovah" rel="me github authn">
<link href="https://twitter.com/kovah_kvh" rel="me twitter">

<link rel="webmention" href="https://webmention.io/kovah.de/webmention" />
<link rel="pingback" href="https://webmention.io/kovah.de/xmlrpc" />

<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#0687F9">
<link rel="manifest" href="/site.webmanifest">
<meta name="apple-mobile-web-app-title" content="Kevin Woblick's Blog">
<meta name="application-name" content="Kevin Woblick's Blog">
<meta name="msapplication-TileColor" content="#0687F9">
<meta name="theme-color" content="#0687F9">

{{ $appcss := resources.Get "app.css" | fingerprint }}
<link rel="stylesheet" href="{{ $appcss.Permalink | relURL }}">

{{ $appjs := resources.Get "app.js" | fingerprint }}
<script defer src="{{ $appjs.Permalink | relURL }}"></script>

{{ with .Params.hascode }}
  {{ if . }}
  {{ $highlightcss := resources.Get "highlighter.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $highlightcss.Permalink | relURL }}">
  {{ end }}
{{ end }}
