<div class="h-14 md:h-16 lg:h-20 w-auto flex items-center">
  <svg class="h-full w-auto" viewBox="0 0 273 397" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.654 0H0v103.807l85.625 59.996v.394L0 224.193V328h10.654L204 192.616v-57.232L10.654 0z"
        fill="url(#kvhgrad0)"/>
    <path d="M264.174 125H273v86.084l-70.934 49.752v.328L273 310.916V397h-8.826L104 284.73v-47.46L264.174 125z"
        fill="url(#kvhgrad1)"/>
    <defs>
      <linearGradient id="kvhgrad0" x1="102" y1="0" x2="102" y2="328" gradientUnits="userSpaceOnUse">
        <stop stop-color="#6AB7FB"/>
        <stop offset=".5" stop-color="#0687F9"/>
        <stop offset="1" stop-color="#045195"/>
      </linearGradient>
      <linearGradient id="kvhgrad1" x1="188.5" y1="125" x2="188.5" y2="397" gradientUnits="userSpaceOnUse">
        <stop stop-color="#6AB7FB"/>
        <stop offset=".5" stop-color="#0687F9"/>
        <stop offset="1" stop-color="#045195"/>
      </linearGradient>
    </defs>
  </svg>
  <h1 class="ml-4 md:ml-6 lg:ml-8 mt-1.5 lg:mt-4 font-special font-bold text-2xl md:text-3xl lg:text-3xl leading-tight">Kevin<br>Woblick</h1>
</div>
