{{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 1 }}
<ul class="pagination">

  <li class="pagination__item pagination__item--first">
    {{ if ne $paginator.PageNumber 1 }}
    <a class="pagination__link" href="{{ $paginator.First.URL }}">
      <i class="fal fa-angle-double-left"></i>
    </a>
    {{ else }}
    <span class="pagination__text pagination__text--disabled">
      <i class="fal fa-angle-double-left"></i>
    </span>
    {{ end }}
  </li>

  <li class="pagination__item pagination__item--previous">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="pagination__link">
      <i class="fal fa-angle-left"></i>
    </a>
    {{ else }}
    <span class="pagination__text pagination__text--disabled">
      <i class="fal fa-angle-left"></i>
    </span>
    {{ end }}
  </li>

  <li class="pagination__divider"></li>

  {{ range $paginator.Pagers }}
  <li class="pagination__item{{ if eq . $paginator }} pagination__item--current{{ end }}">
    <a href="{{ .URL }}" class="pagination__link">
      {{ .PageNumber }}
    </a>
  </li>
  {{ end }}

  <li class="pagination__divider"></li>

  <li class="pagination__item pagination__item--next">
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
      <i class="fal fa-angle-right"></i>
    </a>
    {{ else }}
    <span class="pagination__text pagination__text--disabled">
      <i class="fal fa-angle-right"></i>
    </span>
    {{ end }}
  </li>

  <li class="pagination__item pagination__item--last">
    {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <a class="pagination__link pagination__link--last" href="{{ $paginator.Last.URL }}">
      <i class="fal fa-angle-double-right"></i>
    </a>
    {{ else }}
    <span class="pagination__text pagination__text--disabled">
      <i class="fal fa-angle-double-right"></i>
    </span>
    {{ end }}
  </li>

</ul>
{{ end }}
