{{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 1 }}
<ul class="pagination">

  {{ if ne $paginator.PageNumber 1 }}
  <li class="pagination__item pagination__item--first">
    <a class="pagination__link pagination__link--first" href="{{ $paginator.First.URL }}">
      <i class="fal fa-angle-double-left"></i>
    </a>
  </li>
  {{ end }}

  {{ if $paginator.HasPrev }}
  <li class="pagination__item pagination__item--previous">
    <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
      <i class="fal fa-angle-left"></i>
    </a>
  </li>
  {{ end }}

  {{ range $paginator.Pagers }}
  <li class="pagination__item{{ if eq . $paginator }} pagination__item--current{{ end }}">
    <a href="{{ .URL }}" class="pagination__link">
      {{ .PageNumber }}
    </a>
  </li>
  {{ end }}

  {{ if $paginator.HasNext }}
  <li class="pagination__item pagination__item--next">
    <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
      <i class="fal fa-angle-right"></i>
    </a>
  </li>
  {{ end }}

  {{ if ne $paginator.PageNumber $paginator.TotalPages }}
  <li class="pagination__item pagination__item--last">
    <a class="pagination__link pagination__link--last" href="{{ $paginator.Last.URL }}">
      <i class="fal fa-angle-double-right"></i>
    </a>
  </li>
  {{ end }}

</ul>
{{ end }}
