{{ $paginator := .Paginator }}
{{ $paginator_current := sub .Paginator.PageNumber 1 }}

{{ $paginator_limit := 7 }}
{{ $paginator_start := 1 }}
{{ if gt $paginator_current 3 }}
  {{ $paginator_start = (sub $paginator_current 3)}}
{{ end }}

{{ $pages := $paginator.Pagers }}

{{ if gt $paginator_current 3 }}
  {{ if gt $paginator.TotalPages $paginator_limit }}
    {{ $pages = after $paginator_start $paginator.Pagers }}
  {{ end }}
{{ end }}

{{ $link_class := "py-3 lg:py-4 px-2 md:px-4 lg:px-5 lg:text-lg bg-gray-50 text-gray-700 hover:bg-blue-100 focus:bg-blue-100 transition" }}
{{ $disabled_link_class := "py-3 lg:py-4 px-2 md:px-4 lg:px-5 lg:text-lg text-gray-300" }}

{{ if gt $paginator.TotalPages 1 }}
<ul class="flex items-center justify-center py-10 md:py-16 lg:py-20" data-current="{{ $paginator_current }}"
    data-start="{{ $paginator_start }}" data-total="{{ $paginator.TotalPages }}">

  <li class="">
    {{ if ne $paginator.PageNumber 1 }}
    <a class="{{ $link_class }}" href="{{ $paginator.First.URL | relLangURL }}" title='{{ i18n "page_first" }}'>
      {{ partial "icons/angle-double-left.html" }}
    </a>
    {{ else }}
    <span class="{{ $disabled_link_class }}">
      {{ partial "icons/angle-double-left.html" }}
    </span>
    {{ end }}
  </li>

  <li class="p">
    {{ if $paginator.HasPrev }}
    <a class="{{ $link_class }}" href="{{ $paginator.Prev.URL | relLangURL }}"  title='{{ i18n "page_previous" }}'>
      {{ partial "icons/angle-left.html" }}
    </a>
    {{ else }}
    <span class="{{ $disabled_link_class }}">
      {{ partial "icons/angle-left.html" }}
    </span>
    {{ end }}
  </li>

  <li class="hidden md:inline-block w-5"></li>

  {{ range $index, $page := first $paginator_limit $pages }}
  <li class="{{ if eq $page $paginator }}{{ end }}" data-index="{{ $index }}">
    <a class="{{ $link_class }}" href="{{ $page.URL | relLangURL }}" title='{{ i18n "page_no" }} {{ .PageNumber }}'>
      {{ .PageNumber }}
    </a>
  </li>
  {{ end }}

  <li class="hidden md:inline-block w-5"></li>

  <li class="">
    {{ if $paginator.HasNext }}
    <a class="{{ $link_class }}" href="{{ $paginator.Next.URL | relLangURL }}" title='{{ i18n "page_next" }}'>
      {{ partial "icons/angle-right.html" }}
    </a>
    {{ else }}
    <span class="{{ $disabled_link_class }}">
      {{ partial "icons/angle-right.html" }}
    </span>
    {{ end }}
  </li>

  <li class="">
    {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <a class="{{ $link_class }}" href="{{ $paginator.Last.URL | relLangURL }}" title='{{ i18n "page_last" }}'>
      {{ partial "icons/angle-double-right.html" }}
    </a>
    {{ else }}
    <span class="{{ $disabled_link_class }}">
      {{ partial "icons/angle-double-right.html" }}
    </span>
    {{ end }}
  </li>

</ul>
{{ end }}
