<ul class="post-list" >
  {{ range (.Paginator).Pages }}
  <li class="post-list__item post-excerpt" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
    <meta itemprop="keywords" content='{{ .Render "post-metakeywords" }}' />

    <h2 class="post-excerpt__headline">
      <a href="{{ .Permalink  | relURL }}" itemprop="url">
        <span itemprop="name">{{.Title}}</span>
      </a>
    </h2>

    {{ if .Description }}
    <p class="post-excerpt__description" itemprop="description">{{ .Description }}</p>
    {{ end }}

    <div class="post-excerpt__meta">
      {{ range .Params.Categories }}
      <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="post-excerpt__category">
        {{- . -}}
      </a>
      {{ end }}
      <span class="post-excerpt__readtime">{{ i18n "readtime" . }}</span>
      <time class="post-excerpt__published" datetime='{{.Date.Format "2006-01-02"}}'>
        {{ i18n "published" }}: {{.Date.Format "2006-01-02"}}
      </time>
    </div>

  </li>
  {{ end }}
</ul>

{{ partial "pagination.html" . }}
