<div class="share">

  <span class="share__title">{{ i18n "share" }}</span>

  {{ $share_title := replace .Title "&" "and" }}
  {{ $share_description := replace .Description "&" "and" }}

  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='https://twitter.com/share?url={{ .Permalink }}&text={{ $share_description }}&via=kovah_kvh'
      title='{{ i18n "share_via" "Twitter" }}'>
    <i class="fab fa-twitter"></i>
  </a>
  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='mailto:?subject={{ $share_title }}&body={{ $share_description }}'
      title='{{ i18n "share_via" "Email" }}'>
    <i class="fal fa-envelope"></i>
  </a>
  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ $share_title }}&summary={{ $share_description }}&source={{ "/" | absURL }}'
      title='{{ i18n "share_via" "Email" }}'>
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a class="share__link" target="_blank" rel="noopener noreferrer"
      href='https://reddit.com/submit?url={{ .Permalink }}&title={{ replace .Title "&" "and" }}'
      title='{{ i18n "share_via" "Reddit" }}'>
    <i class="fab fa-reddit"></i>
  </a>

</div>
