{{ $link_class := "text-2xl lg:text-4xl text-blue-500 hover:text-blue-600 hover:scale-150 focus:text-blue-600 focus:scale-150 outline-hidden transition transform duration-300" }}
<aside class="text-center">
  <div class="container py-20 md:py-28 lg:py-32">

    <h2 class="text-2xl md:text-4xl font-black">Get in Touch!  👋</h2>

    <div class="mt-10 md:mt-16 lg:mt-20 grid grid-cols-5 gap-10 gap-y-16">

      <a href="mailto:contact@woblick.dev" class="{{ $link_class }}" title="Email" rel="me">
        {{ partial "icons/email.html" }}
      </a>
      <a href="https://github.com/Kovah" class="{{ $link_class }}" title="Github" rel="me">
        {{ partial "icons/github.html" }}
      </a>
      <a href="https://mastodon.social/@Kovah" class="{{ $link_class }}" title="Mastodon" rel="me">
        {{ partial "icons/mastodon.html" }}
      </a>
      <a href="https://bsky.app/profile/kevin.woblick.com" class="{{ $link_class }}" title="Bluesky" rel="me">
        {{ partial "icons/bluesky.html" }}
      </a>
      <a href="https://www.producthunt.com/@kovah_kvh" class="{{ $link_class }}" title="Producthunt">
        {{ partial "icons/producthunt.html" }}
      </a>
      <a href="https://unsplash.com/@kovah" class="{{ $link_class }}" title="Unsplash">
        {{ partial "icons/unsplash.html" }}
      </a>
      <a href="https://flickr.com/photos/kovah/" class="{{ $link_class }}" title="Flickr">
        {{ partial "icons/flickr.html" }}
      </a>
      <a href="https://patreon.com/Kovah" class="{{ $link_class }}" title="Patreon">
        {{ partial "icons/patreon.html" }}
      </a>
      <a href="https://www.linkedin.com/in/kovah/" class="{{ $link_class }}" title="LinkedIn">
        {{ partial "icons/linkedin.html" }}
      </a>
      <a href="https://goo.gl/ENt9y9" class="{{ $link_class }}" title="Xing">
        {{ partial "icons/xing.html" }}
      </a>
    </div>

  </div>
</aside>
