<aside class="block block--primary text--center">
  <div class="container">

    <h2 class="social__header">Get in Touch! 👋</h2>

    <div class="social">
      <a href="https://kovah.de/" class="social__icon" title="Link to my Website Kovah.de" rel="me">
        {{ partial "icons/kvh.html" }}
      </a>
      <a href="mailto:mail@kovah.de" class="social__icon" title="Email" rel="me">
        {{ partial "icons/email.html" }}
      </a>
      <a href="https://github.com/Kovah" class="social__icon" title="Github" rel="me">
        {{ partial "icons/github.html" }}
      </a>
      <a href="https://twitter.com/kovah_kvh" class="social__icon" title="Twitter" rel="me">
        {{ partial "icons/twitter.html" }}
      </a>
      <a href="https://www.instagram.com/the_kovah/" class="social__icon" title="Instagram">
        {{ partial "icons/instagram.html" }}
      </a>

      <div class="social__divider"></div>

      <a href="https://dev.to/kovah" class="social__icon" title="Dev.to">
        {{ partial "icons/dev.html" }}
      </a>
      <a href="https://500px.com/kovah" class="social__icon" title="500px">
        {{ partial "icons/500px.html" }}
      </a>
      <a href="https://www.linkedin.com/in/kovah/" class="social__icon" title="LinkedIn">
        {{ partial "icons/linkedin.html" }}
      </a>
      <a href="https://goo.gl/ENt9y9" class="social__icon" title="Xing">
        {{ partial "icons/xing.html" }}
      </a>
      <a href="https://www.behance.net/kvh" class="social__icon" title="Behance">
        {{ partial "icons/behance.html" }}
      </a>
    </div>

  </div>
</aside>
