<aside class="block block--primary text--center">
  <div class="container">

    <h2>Get in Touch!</h2>

    <div class="social icons">
      <button id="send-mail" class="icon" title="Email">
        <i class="fal fa-envelope"></i>
      </button>
      <a href="https://kovah.de/pgp" class="icon" title="PGP Details">
        <i class="fal fa-key"></i>
      </a>
      <a href="https://github.com/Kovah" class="icon" title="Github">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/kovah_kvh" class="icon" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/the_kovah/" class="icon" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <div class="divider"></div>
      <a href="https://dev.to/kovah" class="icon" title="Dev.to">
        <i class="fab fa-dev"></i>
      </a>
      <a href="https://500px.com/kovah" class="icon" title="500px">
        <i class="fab fa-500px"></i>
      </a>
      <a href="https://www.linkedin.com/in/kovah/" class="icon" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://goo.gl/ENt9y9" class="icon" title="Xing">
        <i class="fab fa-xing"></i>
      </a>
      <a href="https://www.behance.net/kvh" class="icon" title="Behance">
        <i class="fab fa-behance"></i>
      </a>
    </div>

  </div>
</aside>
