<article>
  <header>
    <h2>
      <a href="{{url}}">{{title}}</a>
    </h2>
  </header>

  <section>
    <p>{{excerpt words="33"}}</p>
  </section>

  <aside>
    <span class="reading-time">{{reading_time}}</span>
  </aside>
</article>
