<aside class="social block">
  <div class="container">

    <div class="social__icons">
      <span class="social__teaser">Get in touch:</span>
      <a href="https://kovah.de" class="social__icon" title="Kovah.de Portfolio">
        <i class="fal fa-globe"></i>
      </a>
      <a href="https://github.com/Kovah" class="social__icon" title="Github">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/kovah_kvh" class="social__icon" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/kovah/" class="social__icon" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://goo.gl/ENt9y9" class="social__icon" title="Xing">
        <i class="fab fa-xing"></i>
      </a>
    </div>

  </div>
</aside>
