{{ $original := .Page.Resources.GetMatch (.Get "img") }}
{{ $image := $original.Resize "768x" }}
<figure{{ with .Get "modifier"}} class="figure--{{.}}"{{ end }}>
  <picture>
    {{ if ne .Site.IsServer true }}
    <source srcset='{{ $image.RelPermalink }}.webp' media="(max-width: 768px)" type="image/webp"/>
    {{ end }}
    <source srcset='{{ $image.RelPermalink }}' media="(max-width: 768px)"/>
    <img src='{{ $original.RelPermalink }}'
        width="{{ $original.Width }}" height="{{ $original.Height }}"
        {{ with .Get "alt"}}alt="{{.}}"{{ end }}/>
  </picture>
  {{ with .Get "caption"}}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
