<div class="reviewbox rounded bg-yellow-50 p-6 lg:p-8 my-6">
  <div class="mt-2 mb-4 lg:mt-4 lg:mb-6 text-center text-3xl lg:text-4xl text-yellow-400">
    {{ range $index, $num := (seq 5) }}
      {{ if lt $index ($.Get 0) }}
        <span class="">
          {{ partial "icons/star.html" }}
        </span>
      {{ else }}
        <span class="">
          {{ partial "icons/star-empty.html" }}
        </span>
      {{ end }}
    {{ end }}
  </div>
  <div class="">{{ .Inner | markdownify }}</div>
</div>
