*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  font-family: $font-family;
  line-height: $line-height-default;
}

body {
  color: $body-color;
  background-color: $shade-10;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

a {
  color: $c-primary;
  text-decoration: none;
  transition: color 200ms ease;

  &:active,
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

pre {
  max-width: 100%;
  overflow: auto;
}

code {
  font-family: $font-family-mono;
}
