@font-face {
  font-family: 'D-DIN';
  src: local('D-DIN'),
  url('./fonts/D-DIN.woff2') format('woff2'),
  url('./fonts/D-DIN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'D-DIN';
  src: local('D-DIN Bold'), local('D-DIN-Bold'),
  url('./fonts/D-DIN-Bold.woff2') format('woff2'),
  url('./fonts/D-DIN-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}
