.footer {
  background-color: $shade-10;
  color: $body-color-light;
  text-align: center;
  font-size: $font-size-sm;

  a {
    color: $shade-4;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      color: $shade-2;
      text-decoration: none;
    }
  }
}
