.header {
  background-color: $c-primary;
  padding: $spacer-md 0;

  @media screen and (min-width: $screen-bp-sm) {
    padding: $spacer-lg 0;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $screen-bp-sm) {
      font-size: $font-size-lg;
      justify-content: inherit;
      flex-wrap: nowrap;
    }
  }

  &__nav-logo {
    flex: 1 0 100%;
    margin-bottom: $spacer;

    @media screen and (min-width: $screen-bp-sm) {
      flex: 0 0 auto;
      margin-bottom: 0;
      margin-right: $spacer-md;
    }

    img {
      max-height: 60px;
      width: auto;

      @media screen and (min-width: $screen-bp-sm) {
        max-height: 80px;
      }

      @media screen and (min-width: $screen-bp) {
        max-height: 100px;
      }
    }
  }

  &__nav-item {
    position: relative;
    flex: 0 0 calc(50% - #{$spacer});
    padding: $spacer-xs 0;
    color: rgba($white, .8);

    @media screen and (min-width: $screen-bp-sm) {
      flex: 0 0 auto;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 105%;
      height: rem(2);
      background-color: $white;
      width: 100%;
      opacity: 0;
      transition: top 300ms ease, opacity 200ms ease;
    }

    &:hover,
    &:focus,
    &:active {
      color: rgba($white, 1);

      &:after {
        top: 100%;
        opacity: 1;
      }
    }

    & + & {

      @media screen and (min-width: $screen-bp-sm) {
        margin-left: $spacer-md;
      }
    }
  }
}
