.pagination {
  $block: &;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__text {
    flex: 0 0 auto;
    padding: 0 $spacer-sm;
  }

  &__link {
    font-size: $font-size-xl;
    transform: translateX(0);
    transition: transform 200ms ease, color 200ms ease;

    &:hover:not(#{$block}__link--disabled),
    &:focus:not(#{$block}__link--disabled),
    &:active:not(#{$block}__link--disabled) {
      transform: translateX(#{rem(5)});
    }

    &#{$block}__previous {

      &:hover:not(#{$block}__link--disabled),
      &:focus:not(#{$block}__link--disabled),
      &:active:not(#{$block}__link--disabled) {
        transform: translateX(#{rem(-5)});
      }
    }
  }

  &__link {
    flex: 0 0 auto;
    padding: 0 $spacer-sm;

    &--disabled {
      color: $body-color-light;
    }
  }
}
