$c-primary: #2c8edd;
$c-primary-light: lighten($c-primary, 15%);
$c-primary-dark: darken($c-primary, 15%);

$white: #ffffff;
$shade-10: #DAE7F2;
$shade-9: #CFDBE6;
$shade-8: #B8C3CC;
$shade-7: #A1ABB3;
$shade-6: #8A9299;
$shade-5: #737A80;
$shade-4: #5C6166;
$shade-3: #45494D;
$shade-2: #2E3133;
$shade-1: #17181A;
$black: #000000;

// Create grayscale
$gray-darker: #202122;
$gray-dark: #373a3c;
$gray: #55595c;
$gray-light: #818a91;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;

$spacer: 1.5rem;
$spacer-xs: .5rem;
$spacer-sm: .75rem;
$spacer-md: 2.5rem;
$spacer-lg: 4rem;
$spacer-xl: 8rem;

$table-spacing-x: $spacer;
$table-spacing-y: $spacer-sm;
$table-spacing: $table-spacing-y $table-spacing-x;
$table-border: darken($gray-lighter, 5%);

$screen-bp-sm: 500px;
$screen-bp: 960px;

$link-color: $c-primary;
$link-decoration: none;
$link-hover-color: $c-primary-dark;
$link-hover-decoration: underline;

$link-blue-color: $gray-lightest;
$link-blue-hover-color: $gray-lightest;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-base: 1rem;
$font-size-xl: 1.5rem;
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
